#if (!$userprofile.getCombinedLibraries().isEmpty() )
<div class="panel panel-default overlay-panel" id="left-col-search">
	<div class="panel-heading">[[Libraries]]
		<div class="overlay-close panel-close-button">
			<span class="glyphicon glyphicon-remove-circle"></span>
		</div>
	</div>
	<div  class="panel-body">
		<ul class="nav">
		#set($selected = $userprofile.get("last_selected_library" ) )
    	#foreach($libraryid in $userprofile.getCombinedLibraries() )
    		 #set( $library = $mediaarchive.getSearcher("library").searchById($libraryid ) )
    		 #set( $division = false )
    		 #set( $division = $mediaarchive.getSearcher("division").searchById($library.division ) )
    		<li class="#if( $selected && $selected == $libraryid) currentsubtle #end "> 
    				<a  href="$home$apphome/views/search/library.html?field=libraries&libraries.value=$library.id&operation=matches&id=$library.id&profilepreference=last_selected_library&profilepreference.value=$libraryid">
    					#if( $division )$division / #end $library</a>
    		</li>		
    	#end
    	</ul>
	</div>
</div>
#end