#if($userprofile.isEnabled("showsidebar") )
<div class="col-md-2  col-sm-3 col-xs-3 sidebar-offcanvas" id="sidebar">
#else
<div class="col-md-2  col-sm-3  col-xs-3 sidebar-offcanvas" style="display: none;" id="sidebar">
#end              
               
<div id="lg-menu">   

<h4><span class="glyphicon glyphicon-minus"></span> [[Assets]] ($hits.size())</h4>	
            
<ul class="nav" id="filters-sidebar-selected" >
 ##show search terms? and clear button
 
 ##if library is selected then show collections for that library

 #if( $hits.getSearchQuery().hasFilters() )
 <h4><span class="glyphicon glyphicon-minus"></span> Active Filters</h4>
	#foreach( $selectedfilter in $hits.getSearchQuery().getFilters() )
			#set( $detail = $mediaarchive.getAssetSearcher().getDetail($selectedfilter.getId() ) )
		<li><a class="ajax" title="$detail.getText($context)" targetdivinner="main" 
				href="$home$apphome/views/search/filter.html?removefilter=$selectedfilter.getId()&hitssessionid=$!hits.sessionId&searchtype=$searcher.searchType&oemaxlevel=2" > 
				<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;$selectedfilter
				</a></li>
	#end
#end	
</ul>

#set( $text = $selectedlibrary.getName() )
#if( !$text )
#set( $text = "[[Libraries]]")
#end

	<div class="librarylabels"><h4 style="display:block;"><span class="glyphicon glyphicon-minus"></span> Selected Library <a class="playerclink" href="$apphome/components/libraries/pick.html" title="[[Change Library]]" style="float:right;margin-right:5px;">
	<span  class="glyphicon glyphicon-new-window" ></span></a> </h4>
   	<ul class="nav">
		<li><a  href="$home$apphome/views/search/library.html?field=libraries&libraries.value=$selectedlibrary.id&operation=matches&id=$selectedlibrary.getId()">
		<span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;<span>$text (All)</span></a></li>
   		#foreach( $usercollection in $usercollections )
		<li>
			#set( $selected = false )
			#if( $inmodule && $data && $usercollection.getId() == $data.id )
				#set( $selected = true )
			#end
			<a href="$home$apphome/views/search/collections.html?id=${usercollection.getId()}" title="$!{usercollection.getCollection().notes}"> 
			<span class="glyphicon #if($selectedcollection && $usercollection.getId() == $selectedcollection.getId())glyphicon-folder-open#else glyphicon-folder-close #end"></span> &nbsp;&nbsp;
			<span> $usercollection.getName() ($usercollection.getAssetCount())</span></a>
		</li>
		#end
		#if ($canaddnewcollection)
		<li>
			<div id="createnewarea"><a class="ajax" targetdivinner="createnewarea" data-oemaxlevel="1" href="$home$apphome/components/libraries/addnewchild.html?libraryid=$selectedlibrary.id" ><span> [[Create New]]</span></a></div>
		</li>
		#end
	</ul>	
	</div>

#set($facets = $hits.getFilterOptions())

<form class="ajaxform" targetdiv="searchlayout" action="$home$apphome/views/search/filter.html" target="_parent" name="dontshow" id="dontshow" valign="middle">

#foreach($type in $facets )
	#if(!$hits.isChildFacetSelected($type) && $type.children.size() > 1)
	<h4><span class="glyphicon glyphicon-minus"></span> $context.getText($type.toString())</h4>
	    <ul class="nav filters-sidebar collapse-group">	     
			#foreach($entry in $type.children)
				#if( $velocityCount == 10 )
					</ul>
					<a class="showmore collapsed" href="#" data-toggle="collapse" data-target="#showmore${type.getId()}">Show More</a>
					<ul id="showmore${type.getId()}" class="collapse">
				#end
					<li>
					<a class="addfilter" data-filtertype="$type.getId()" data-filtervalue="$entry.getId()" data-filterlabel="$entry" href="#"><span> $entry ($entry.count)</span></a>
					</li>
			#end
		</ul>
	#end
#end
    <input type="hidden" name="catalogid" value="$!catalogid" />
    <input type="hidden" name="searchtype" value="$searcher.searchType" />
    <input type="hidden" id="filtertype" name="filtertype" value="" />
    <input type="hidden" id="filtervalue" name="filtervalue" value="" />
    <input type="hidden" id="filterlabel" name="filterlabel" value="" />
    <input type="hidden" name="oemaxlevel" value="2" />
    <input type="hidden" name="hitssessionid" value="$!hits.sessionId" /> ##TODO: reload on ajax reloads
</form>
	
</div>
	              
</div>