/* custom template */
html, body {
   height: 100%;
   font-family:Arial,sans-serif;
   color:#555555;
}

.nav {
   font-family:Arial,sans-serif;
   font-size:13px;
}


a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  border-color:#dedede;
}

.wrapper, .row {
   height: 100%;
   width: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

#main{
	padding-top:50px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    right: 0;
    top: 0;
    background-color:#333;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
	margin-top:32px;
}

.navbar-form
{
	margin-left: 30px;
	max-width:260px;
}
.navbar-nav
{
	margin: 0px;
}

.navbar-nav>li>a.filterbtn
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.press-down
{
	background-color: #333;
	font-color: #EEE;
	font-size: 25px;
	padding: 12px;
}

.press-up
{
	background-color: #444444;
	font-color: white;
	font-size: 25px;
	padding: 12px ;
}

div.navbar-black
{
	margin-bottom: 0px;
    border-width:0;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:100%;
    background-color:#444444;
}
.navbar-black li > a,.navbar-toggle  {
   color:#efefef;
}

.navbar-black .dropdown-menu li a {color:#2A4888;}
.navbar-black .dropdown-menu li > a {padding-left:30px;}

.navbar-black li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#333;
   color:#fff;
}

#main {
   background-color:#e9eaed;
   padding-left:0;
   padding-right:0;
}
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

#sidebar {
    padding:0px;
	padding-top:15px;
}


.filterbtn:hover
{
	 background-color:#444;
}

#sidebar .nav li>a {
	padding: 5px 5px 5px 30px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:0 0 2px #000000;
    padding-left:5px;
}
#sidebar a
{
	padding-left: 30px;
	margin-left: -10px;
}


#sidebar .nav li>a:hover {
    background-color:#444;
}

.logo {
  display:block;
  padding:0px;
  background:url("../images/logo.png");
  height:38px;
  width:185px;
  margin:2px;
  margin-right:2px;
  margin-left:15px;
}
#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control {
	
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
  
.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:rgb(135,135,135);
  	color: white;
	font-size: 1.2em;
	text-shadow: 0 0 2px #121212;
	margin: -1px -1px 0 -1px;
}



.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
	padding:0px;
}

.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.sidebar-offcanvas
{
	margin-top:50px;
}

h4 {  
	font-size: .95em;
	margin-bottom: 5px;
}


/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  h4 {  font-size: .9em; }
  
  .column .padding {
    padding: 7px;
  }

  .navbar-blue {
	background-color:#3B5999;
    top:0;
    width:100%;
    position:relative;
  }

}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

div.infopanel
{
	background-color: rgb(135,135,135);
	padding: 14px 0 10px 20px;	
}

div.infopanel h2
{
	margin: 0;
	color: white;
	font-size: 1.2em;
	text-shadow: 0 0 2px #121212;
}

.login-form .field {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px;
    width: 260px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #CCC;
}

.login-form
{
	max-width: 280px;
}

.login-area
{
	margin: 5px 0px 0px 30px;
}