.overlay-panel {
	margin: 50px;
	height: 60%;
}

.panel-heading > .overlay-close {
	z-index: 10;
	position: absolute;
	right: 60px;
	top: 60px;
}

#hiddenoverlay
{
	background-color: black;
	display:none;

	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.95);

    z-index: 10000;
	
}

.playerarea .player
{
	height:100%;
	width:100%;
	background-size: 100% auto;
}

.overlay-play.largeicon
{
	font-size:30px;
	color: rgb(200,200,200);
	position: fixed;
	left:40px;
	top: 10px;
	z-index: 10001;
}

.overlay-close.largeicon
{
	font-size:30px;
	color: rgb(200,200,200);
	position: fixed;
	right:40px;
	top: 10px;
	z-index: 10001;
}

.imageplayer img
{
	height:100%;
	display:block;
    margin:auto;
}

.masonry-grid
{
	background-color: rgb(200,200,200);
}

.masonry-grid-cell
{
	position: relative;
	margin: 6px;
	padding: 0;
	border: 0;
	text-overflow: ellipsis;
	background-color: white;
}
.masonry-grid-cell .imagearea
{
	overflow: hidden;
}
.masonry-grid-cell #emthumbholder img
{
	border-radius: 0 0 .2em .2em;
}


.masonry-grid-cell .gallery-status-info
{
	position: absolute;
	top: 0px;
	background-color: #e5e092;
	width: 100%;
	border-radius: .2em .2em 0 0;
	padding: 0px 5px 5px 5px;
	text-align: center;
}
.masonry-grid-cell .gallery-status-info span
{
	color: rgb(90,90,90);
	text-shadow:0 0 2px white;
}

.masonry-grid-cell .caption a
{
	color: white;
	text-shadow:0 0 2px #121212;
}	


.masonry-grid-cell .caption
{
	position: absolute;
	bottom: 0px;
	background-color: rgba(20,20,20,.4);
	width: 100%;
	border-radius: 0 0 .2em .2em;
	padding: 0px 5px 5px 5px;

}
.masonry-grid-cell .caption a
{
	color: white;
	text-shadow:0 0 2px #121212;
}	

.masonry-grid-cell .gallery-checkbox
{
	float: right;
	margin: 0; 
}
.filters-sidebar
{
	
}

#detailspanel .playerarea
{
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow: auto;
}

#detailspanel .playerarea
{
	position:relative;
}
