<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
  <title>$content.title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <meta name="keywords" content="$!content.keywords"/>
  <meta name="description" content="$!content.description"/>
  <meta http-equiv="imagetoolbar" CONTENT="no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />  
  <meta name="robots" content="all" />
  <link rel="Shortcut Icon" type="image/x-icon" href="$home$apphome/theme/images/favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=10.0,user-scalable=1"" />
  $pages.include("/${applicationid}/theme/layouts/includes.html")
</head>
<body data-appid="${applicationid}">
       
	<div class="wrapper">
    <div class="box">
              	$pages.include("/${applicationid}/theme/layouts/header.html")
    
        <div class="row ">
                      
            <!-- main right col -->
            
                        <!-- sidebar -->
  $pages.include("/${applicationid}/components/dontshow/sidebar.html")
            <!-- /sidebar -->
            
#if( $userprofile.isEnabled("showsidebar") )                        
            <div class="col-md-10 col-sm-9 col-xs-9" id="main" >
#else
            <div class="col-md-12 col-sm-12 col-xs-12" id="main" >
#end                
                  <div class="full content">
                    
				$pages.includeContent()                 
                    
                  </div><!-- /col-9 -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>


<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			Update Status
      </div>
      <div class="modal-body">
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div>
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
		  </div>	
      </div>
  </div>
  </div>
</div>
		
		
		
</body>
</html>
